version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres16
    restart: always
    environment:
      POSTGRES_USER: dekapx
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dekapx -d testdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: weather-api
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/testdb
      SPRING_DATASOURCE_USERNAME: dekapx
      SPRING_DATASOURCE_PASSWORD: passw0rd
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_SQL_INIT_MODE: always
    restart: on-failure

volumes:
  pgdata:
